canvas {
  border: 1px solid black;
  border-top: none;
}

.canvas-wrapper {
  display: flex;

}

.selection-panel {
  font-size: 0.9rem;
}

.stats-panel {

}

.selected-tool {
  filter: brightness(75%);
}
