<div
  class="container-fluid"
>
  <div class="row">
    <div class="col-8 offset-2">
      <p-toolbar>
        <ng-template #start>
          <div class="d-flex gap-1">
            <p-button
              label="Select"
              (onClick)="this.mouseMode.set('select');"
              [class.selected-tool]="this.mouseMode() === 'select'"
            />
            <p-button
              label="Bomb"
              severity="warn"
              (onClick)="this.mouseMode.set('bomb');"
              [class.selected-tool]="this.mouseMode() === 'bomb'"
            />
          </div>
        </ng-template>

        <ng-template #center>
        </ng-template>

        <ng-template #end>
          <div class="d-flex gap-1">
            <p-button
              label="Pause"
              styleClass="w-100"
              (onClick)="togglePause()"
            />

            <p-button
              label="Debug"
              styleClass="w-100"
              (onClick)="toggleDebugMode()"
              severity="warn"
            />
          </div>
        </ng-template>
      </p-toolbar>
    </div>
  </div>

  <div class="row">
    <div class="stats-panel col-2">
      @let stats = environmentService.currentStats();

      <div class="d-flex flex-column">
        <div class="d-flex flex-column gap-1">
          <span># Targeting Beings: {{ stats?.beingsTargetingBeing?.length }}</span>
          <span># Targeting Space: {{ stats?.beingsTargetingSpace?.length }}</span>
          <span>Frame #: {{ drawService.frameCount() }}</span>
        </div>

        <div>
          <div class="d-flex flex-column gap-1">
            <pre>{{ stats?.groupCount | json }}</pre>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex flex-column gap-1">
          <pre>{{ stats?.sexCount | json }}</pre>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="d-flex justify-content-center">
        <canvas
          [width]="gameWidth()"
          [height]="gameHeight()"
          #canvas
          (click)="onCanvasClick($event)"
          [style.cursor]="mouseMode() | modeCursor"
        ></canvas>
      </div>

    </div>

    <div class="col-2">
      <div class="d-flex flex-column gap-5 ms-2">
        <div class="d-flex flex-column gap-1">

        </div>


        @let being = selectedBeing();
        @if (being) {
          <div
            class="selection-panel d-flex flex-column gap-1"
          >
            <span>ID: {{ being.id }}</span>
            <span>Health: {{ being.health }}</span>
            <span>Position: {{ being.position.x | number:'1.1-1' }}, {{ being.position.y | number:'1.1-1' }}</span>
            <span>Destination:
              @if (being.destination | isInstanceOf:Being) {
                <span>b {{ being.destination.position.x | number:'1.1-1' }}, {{ being.destination.position.y | number:'1.1-1' }}</span>
              } @else {
                <span>p {{ being.destination.x | number:'1.1-1' }}, {{ being.destination.y | number:'1.1-1' }}</span>
              }
            </span>
            <span> {{ being.sex }}</span>
            <span>{{ being.genes | json }}</span>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

    </div>
  </div>

</div>
