canvas {
  border: 1px solid black;
  border-top: none;
}

.canvas-wrapper {
  display: flex;

}

.selection-panel, .add-panel {
  font-size: 0.9rem;
}

.stats-panel {

}

.selected-tool {
  filter: brightness(75%);
}

.scroll-wrapper {
  max-height: 65vh;
  overflow-y: scroll;
}
